A5IGRX_10_22/cats.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">	
<xs:element name="cats">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="cat" maxOccurs="unbounded">
		<xs:complexType>
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="age" type="xs:int"/>
			<xs:element name="breed" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int"/>
		</xs:complexType>
		</xs:element>
	</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>